* {
    font-family: "Caveat", cursive;
    margin: 0;
    text-decoration: none;
}

/* Header and Navigation */
header {
    height: 100px;
    width: 100%;
    background-color: #f5e9e9;
    justify-items: center;
}

.mobileNav {
    display: none;
    padding: 10px;
    border: none;
}

.mobileNav span {
    font-size: 50px;
}

.container {
    display: grid;
    grid-template-areas: 'logo nav';
    grid-template-columns: 100px auto;
}

.logo {
    grid-area: logo;
}

.logo img {
    height: 100px;
}

#navigation {
    text-align: center;
    background-color: #f5e9e957;
}

.display {
    display: none;
}

#navigation li {
    list-style-type: none;
    font-size: 40px;
    padding: 10px 0;
}

nav {
    grid-area: nav;
}

nav ul {
    margin-top: 25px;
    float: right;
    margin-right: 50px;
}

nav ul li {
    display: inline;
    padding-left: 40px;
    font-size: 30px;
}

nav ul li a{
    color:#000;
    transition: 0.5s;
}

nav ul li a:hover{
    color: rgb(32, 78, 206);
    font-size: 31px;
}

/* Body and Content */

section {
    height: calc(100% - 700px);
    width: 100%;
    background-color: #caeded;
    padding-bottom: 20px;
}

section img {
    width: 100%;
    height: calc(width * 0.6);
    border-radius: 15px;
}

.ruthbio {
    background-color: rgb(77, 77, 77);
    width: calc(100% - 50px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    padding: 20px;
    border: solid 5px white;
}

.imageRuth img {
    margin: 0 auto;
    width: 90%;
}

.bioText p {
    margin: 15px;
    font-size: 30px;
    color: white;
}

.info {
    text-align: center;
}

.info h1 {
    margin-top: 15px;
    color: darkblue;
    font-size: 60px;
}

.info p {
    font-size: 20px;
    margin: 0 30px;
}

.info img {
    border-radius: 0;
    margin-top: 40px;
}

/* Footer */

footer {
    background-color: rgb(104, 133, 229);
    width: 100%;
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-template-rows: 1fr;
}

footer div {
    width: calc(50% * footer);
    height: 100px;
    text-align: center;
}

footer h1 {
    color: rgb(4, 22, 43);
    font-size: 40px;
    font-family: "Caveat", cursive;
    margin: 0 auto;
    padding-top: 25px;
    padding-left: 20px;
}

footer ul {
    float: right;
    padding-right: 40px;
    padding: 30px;
}
footer ul li {
    display: inline;
    font-size: 26px;
    padding-left: 20px;
}

footer ul li a{
    color:#000;
    transition: 0.5s;
}

footer ul li a:hover{
    color: rgb(216, 219, 22);
}

/* Mobile Navigation */

@media only screen and (max-width: 850px) {
    .container {
        grid-template-areas: 'logo . nav';
        grid-template-columns: 100px auto 100px;
    }

    .mobileNav {
        display: block;
        grid-area: nav;
    }

    nav {
        display: none;
    }

    header {
        height: 75px;
    }

    .logo img {
        height: 75px;
    }

    .logo {
        height: 75px;
        width: 75px;
    }


}    
