/* Body and Content */

section {
    height: calc(100% - 700px);
    width: 100%;
    background-color: #caeded;
    padding-bottom: 20px;
}

section img {
    width: 100%;
    height: calc(width * 0.6);
    border-radius: 15px;
}

.ruthbio {
    background-color: rgb(77, 77, 77);
    width: calc(100% - 50px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    padding: 20px;
    border: solid 5px white;
}

.imageRuth img {
    margin: 0 auto;
    width: 90%;
}

.bioText p {
    margin: 15px;
    font-size: 30px;
    color: white;
}

.info {
    text-align: center;
}

.info h1 {
    margin-top: 15px;
    color: darkblue;
    font-size: 60px;
}

.info p {
    font-size: 20px;
    margin: 0 30px;
}

.info img {
    border-radius: 0;
    margin-top: 40px;
}

/* Footer */

footer {
    background-color: rgb(104, 133, 229);
    width: 100%;
}

footer div {
    width: calc(50% * footer);
    height: 100px;
    text-align: center;
}

footer h1 {
    color: rgb(4, 22, 43);
    font-size: 40px;
    font-family: "Caveat", cursive;
    margin: 0 auto;
    padding-top: 25px;
    padding-left: 20px;
}

.fd1 {
    float: left;
}

.fd2 {
    float: right;
}

footer ul {
    float: right;
    padding-right: 40px;
    padding: 30px;
}
footer ul li {
    display: inline;
    font-size: 26px;
    padding-left: 20px;
}


