section {
    height: calc(100% - 70px);
    width: 100%;
    background-color: #caeded;
    display: flex;
    justify-content: center;
    align-items: center;
}

section h1 {
     font-weight: bold;
     color: white;
}

.ruthbio {
    background-color: rgb(77, 77, 77);
    width: calc(100% - 50px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    padding: 20px;
    border: solid 5px white;
}

.ruthbio h1 {
    text-decoration: underline;
    text-align: center;
    color: white;
}

.imageRuth img {
    margin: 0 auto;
    width: 90%;
    padding: 0 5%;
}

.bioText p {
    margin: 15px;
    font-size: 30px;
    color: white;
}

.info h1 {
    margin-top: 15px;
    color: darkblue;
    font-size: 60px;
}

.info p {
    font-size: 20px;
    margin: 0 30px;
}

.info img {
    border-radius: 0;
    margin-top: 40px;
}

@media only screen and (max-width: 900px) {
    .ruthbio {
        display: block;
    }
    
    section {
        padding-top: 75px;
    }
}