/* Universal CSS for all Web pages */

* {
    font-family: "Caveat", cursive;
    margin: 0;
    text-decoration: none;
}

/* Header */

header {
    height: 100px;
    width: 100%;
    background-color: #f5e9e9;
    justify-items: center;
}

.mobileNav {
    display: none;
    padding: 10px;
    border: none;
}

.mobileNav span {
    font-size: 50px;
}

.container {
    display: grid;
    grid-template-areas: 'logo nav';
    grid-template-columns: 100px auto;
}

.logo {
    grid-area: logo;
}

.logo img {
    height: 100px;
}

#navigation {
    text-align: center;
    background-color: #f5e9e957;
}

.display {
    display: none;
}

#navigation li {
    list-style-type: none;
    font-size: 40px;
    padding: 10px 0;
}

nav {
    grid-area: nav;
}

nav ul {
    margin-top: 25px;
    float: right;
    margin-right: 50px;
}

nav ul li {
    display: inline;
    padding-left: 40px;
}

nav ul li img {
    height: 50px;
    transition: 0.5s;
}

nav ul li a:hover{
    color: rgb(32, 78, 206);
    font-size: 31px;
}

@media only screen and (max-width: 850px) {
    .container {
        grid-template-areas: 'logo . nav';
        grid-template-columns: 100px auto 100px;
    }

    .mobileNav {
        display: block;
        grid-area: nav;
    }

    nav {
        display: none;
    }

    header {
        height: 75px;
    }

    .logo img {
        height: 75px;
    }

    .logo {
        height: 75px;
        width: 75px;
    }
}

/* Footer */

footer {
    background-color: rgb(104, 133, 229);
    width: 100%;
}

footer div {
    width: calc(50% * footer);
    height: 100px;
    text-align: center;
}

footer h1 {
    color: rgb(4, 22, 43);
    font-size: 40px;
    font-weight: lighter;
    font-family: "Caveat", cursive;
    margin: 0 auto;
    padding-top: 25px;
    padding-left: 20px;
}

.fd1 {
    float: left;
}

.fd2 {
    float: right;
}

footer ul {
    float: right;
    padding-right: 40px;
    padding: 30px;
}
footer ul li {
    display: inline;
    padding-left: 20px;
}

footer ul li img {
    height: 50px;
}
