/* Universal CSS for all Web pages */

* {
    font-family: "Caveat", cursive;
    margin: 0;
    text-decoration: none;
}

/* Header */

header {
    height: 100px;
    width: 100%;
    background-color: #f5e9e9;
    justify-items: center;
    position: fixed;
    top: 0;
}

.mobileNav {
    display: none;
    padding: 10px;
    border: none;
    background-color: #f5e9e9;
}

.mobileNav span {
    font-size: 50px;
    color: black;
}

.container {
    display: grid;
    grid-template-areas: 'logo nav';
    grid-template-columns: 100px auto;
    max-width: 1500px;
}

.logo {
    grid-area: logo;
}

.logo img {
    height: 100px;
}

/* Navigation */

.navigation {
    grid-area: nav;
    height: 0;
    overflow: hidden;
    width: 0;
    background-color: white;
}

.navigation div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.display {
    height: 100%;
    width: 100%;
    background-color: #f5e9e9;
    position: absolute;
    z-index: 10;
}

.xbutton {
    border-radius: 40%;
    padding: 10px;
    font-size: 40px;
    background-color: #1574d9;
    float: right;
    border: none;
    margin-right: 30px;
}

#navigation a {
    color: black;
    font-size: 50px;
    transition: 0.5s;
}

#navigation a:hover {
    color: #1574d9;
    font-size: 51px;
}

nav {
    grid-area: nav;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav a {
    padding-right: 40px;
    font-size: 30px;
    color: black;
    transition: 0.5s;
}

nav a:hover{
    color: rgb(32, 78, 206);
    font-size: 31px;
}

@media only screen and (max-width: 900px) {
    .container {
        grid-template-areas: 'logo . nav';
        grid-template-columns: 100px auto 100px;
    }

    .mobileNav {
        display: block;
        grid-area: nav;
    }

    nav {
        display: none;
    }

    header {
        height: 75px;
    }

    .logo img {
        height: 75px;
    }

    .logo {
        height: 75px;
        width: 75px;
    }
}

/* Footer */

footer {
    background-color: rgb(104, 133, 229);
    width: 100%;
}

footer div {
    width: calc(50% * footer);
    height: 100px;
    text-align: center;
}

footer h1 {
    color: rgb(4, 22, 43);
    font-size: 40px;
    font-weight: 100;
    font-family: "Caveat", cursive;
    margin: 0 auto;
    padding-top: 25px;
    padding-left: 40px;
}

.fd1 {
    float: left;
}

.fd2 {
    float: right;
}

footer ul {
    float: right;
    padding-right: 40px;
    padding: 30px;
}
footer ul li {
    display: inline;
    padding-left: 20px;
}

footer ul li img {
    height: 50px;
}