* {
    font-family: "Inter", cursive;
    margin: 0;
    text-decoration: none;
}

/* Header */

header {
    height: 70px;
    width: 100%;
    background-color: transparent;
    justify-items: center;
    position: absolute;
    top: 10px;
    z-index: 99;
}

.mobileNav {
    display: none;
    padding: 10px;
    border: none;
    background-color: transparent;
}

.mobileNav span {
    font-size: 50px;
    color: #000;
}

.container {
    display: grid;
    grid-template-areas: 'logo nav';
    grid-template-columns: 300px auto;
    max-width: 1500px;
}

.logo {
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo a {
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
}
/* Navigation */

.navigation {
    height: 0;
    overflow: hidden;
    width: 0;
    background-color: white;
    color: white;
    transition: 200ms;
    z-index: 9999;
}

.navigation div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 90%;
}

.display {
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: #f5e9e9;
    height: 100%;
}

.xbutton {
    padding: 15px;
    float: right;
    border: none;
    background-color: #f5e9e9;
    cursor: pointer;
}

.xbutton:hover {
    background-color: #97929257;
}

.xbutton span {
    font-size: 75px;
    color: #000;
}

#navigation a {
    color: black;
    font-size: 50px;
    transition: 0.5s;
}

#navigation a:hover {
    color: #1574d9;
    font-size: 51px;
}

nav {
    grid-area: nav;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav a {
    padding-right: 40px;
    font-size: 20px;
    color: black;
    transition: 0.5s;
    font-weight: 600;
}

nav a:hover{
    color: rgb(32, 78, 206);
    font-size: 31px;
}

@media only screen and (max-width: 900px) {
    .container {
        grid-template-areas: 'logo . nav';
        grid-template-columns: 300px auto 100px;
    }

    .mobileNav {
        display: block;
        grid-area: nav;
    }

    nav {
        display: none;
    }

}

/* Footer */

footer {
    background-color: rgb(104, 133, 229);
    width: 100%;
}

footer div {
    width: calc(50% * footer);
    height: 100px;
    text-align: center;
}

footer h1 {
    color: rgb(4, 22, 43);
    font-size: 40px;
    font-weight: 100;
    font-family: "Caveat", cursive;
    margin: 0 auto;
    padding-top: 25px;
    padding-left: 40px;
}

.fd1 {
    float: left;
}

.fd2 {
    float: right;
}

footer ul {
    float: right;
    padding-right: 40px;
    padding: 30px;
}
footer ul li {
    display: inline;
    padding-left: 20px;
}

footer ul li img {
    height: 50px;
}